.social-wrapper {
  margin-top: 2rem;

  ul {
    @include horizontal-list;
    li {
      font-size: 3.2rem;
      list-style-type: none;
      margin-right: .5rem;
      a {
        color: $default-text-color;

        &:hover {
          color: $link-color;
        }
      }
    }
  }
  dl {
    dt {
      &:before {
        content: "【";
      }
      &:after {
        content: "】";
      }
    }
    dd {
      margin-left: 2rem;
      text-indent: 1em;
    }
    margin-bottom: $default-font-size + 1rem;
    margin-top: $default-font-size + 1rem;
  }
}
